.context-switcher {
  display: flex;
}

.context-switcher .dropdown {
  display: flex;
  flex-grow: 1;
}

.context-switcher .context-switcher__toggle-group {
  flex-grow: 1;
}

.context-switcher .context_switcher__context-display {
  flex-grow: 1;
  font-size: 0.85rem;
}

.context-switcher .context-switcher__toggle-group button {
  max-width: 2rem;
}
